{% extends "layout.html" %}

{% block content %}

<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{current_user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if current_user.bio %}
      <h3> {{current_user.bio}}</h3>
    {%else%}
      <p> {{current_user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <!--Display profile photo-->
  <div class="col-md-4">

        {% if current_user.profile_pic_path %}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
        {%else%}
        <p>No profile picture</p>
        {% endif %}
      </div>
    </div>
    </div>

    {% if user == current_user %}
    <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
{% endif %}

    
{% endblock %}

