{% extends "layout.html" %}
{% block content %}
<div class="w3-padding-large" id="main">
    <div class="w3-content w3-justify w3-text-grey w3-padding-64">
        <div class="w3-container"> 
            {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <hr>
            <p style="font-size: 25px;">{{ post.content }}</p>
            <br>
            <br>
            <p>By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
            <br>
            <button style="border-radius: 12px"><a href="{{ url_for('main.post', post_id=post.id, username=post.author.username) }}">Blog Options</a></button>
            <br>
            <br>
            <br>
            {% endfor %}
          </div>
          {% endblock content %}


  
         