{% extends "layout.html" %}
{% block content %}
<div class="card">
    {% for post in posts %}
    
  <div class="card-header">
    <h2>{{ post.title }}</h2>
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='pictures/' + post.author.image_file) }}">
    
 
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ post.content }}</h4> 
    <p>By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
    <a class="mr-2" href="{{ url_for('main.new_post', username=post.author.username) }}">{{ post.author.username }}</a>
    </div>



  </div>



    {% endfor %}
   </div>
{% endblock content %}
