<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>iBlog - {{ title }}</title>
    {% else %}
        <title>iBlog</title>
    {% endif %}

    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
        /* Set the width of the sidebar to 120px */
        .w3-sidebar {width: 160px;background: #222;}
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {margin-left: 120px}
        </style>

</head>
<body class="w3-black">
      
 
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
   
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>iBlog</p>
    </a>

    <a href="#random" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-quote-left"></i> 
        <p>Quote</p>
      </a>

    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>About</p>
    </a>
    
    
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-envelope w3-xxlarge"></i>
      <p>Contact</p>
    </a>

    <a href="{{url_for('main.home') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>Posts</p>
    </a>
    {% if current_user.is_authenticated %}
                  <a href="{{url_for('main.new_post') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">New Post</a>
                  <a href="{{url_for('main.account') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">Account</a>
                  <a href="{{url_for('auth.logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">Logout</a>
               
    {% else %}
  
    <a href="{{url_for('auth.register') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>Register</p>
      </a>

      <a href="{url_for('auth.login') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-sign-in" style="font-size:48px;"></i>
          <p>Login</p>
        </a>  
      {% endif %}
  </nav>


              <div class="row">
                    <div class="col-md-8">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                              {{ message }}
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
                      {% block content %}{% endblock %}
                    </div>
            
              
  
   

   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>