{% extends "layout.html" %}
{% block content %}

<div class="w3-container"> 
    <a class="mr-2" href="#">{{ post.author.username }}</a>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <hr>
  </div>
  
  <article class="w3-container"> 
    <h2>Paris</h2>
    <p>The Paris area is one of the largest population centers in Europe,
    with more than 2 million inhabitants.</p>
    <hr>
  </article>
  
  <section class="w3-container"> 
    <h2>Tokyo</h2>
    <p>Tokyo is the center of the Greater Tokyo Area,
    and the most populous metropolitan area in the world.</p>
    <hr>
  </section>
  









  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <a href="{{ url_for('main.post', id=post.id) }}#comments">
    <span class="label label-primary">
    {{ post.comments.count() }} Comments
    </span>
    </a>
{% endblock content %}