{% extends "layout.html" %}
{% block content %}
<div class="w3-padding-large" id="main">
    <div class="w3-content w3-justify w3-text-grey w3-padding-64">

  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
      <h2 class="article-title">{{ post.title }}</h2>
      <hr>
      <p class="article-content" style="font-size: 25px;">{{ post.content }}</p>
      <small class="text-muted">{{ post.date_posted }}</small>
      <div>
       </div>
       <br><br>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" style="border-radius: 12px" href="{{ url_for('main.update_post', post_id=post.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" style="border-radius: 12px" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <br>
        <br>
        <br>
        <div>
            <textarea></textarea>
            <br>
            <br>
            <button type="button" style="border-radius: 12px" class="btn btn-info btn-sm m-1" href="{{ url_for('main.post', post_id=post.id) }}">Add a Comment</button>

        </div>
        
      </div>
    </div>
  </article>

  
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

{% endblock %}